#header {
    background-color: teal;
}

li .header-list {
    color: #fff !important;
    font-weight: bold;
}

#top-main-title {
    font-style: italic;
    font-weight: bold;
}

li .header-list:hover {
    color: silver !important;
}

